<ion-card class="card-centered-limited-width" *ngIf="sentEmail">
    <ion-item text-wrap>
        <ion-icon item-left name="paper-plane" color="primary"></ion-icon>
        <ion-label>
            {{"forgot-password-card.sentEmail" | translate}}
        </ion-label>
    </ion-item>
</ion-card>

<ion-card class="card-centered-limited-width">
    <ion-card-content>
        <form [formGroup]="forgotPwForm">
            <ion-list>
                <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                          [class.error]="(!formControl.email.valid && formControl.email.touched) ||
                          formControl.email.hasError('notRegistered')">
                    <ion-label floating>{{"login-card.labels.email" | translate}}</ion-label>
                    <ion-icon name="mail" item-left class="floating-label-icon" color="primary"></ion-icon>
                    <ion-input type="email"
                               [formControl]="formControl.email"
                               [(ngModel)]="email">
                    </ion-input>
                </ion-item>
                <div *ngIf="(formControl.email.hasError('required') ||
                    formControl.email.hasError('invalidEmail')) && formControl.email.touched"
                     class="icon-error-box">
                    {{"login-card.errors.invalidEmail" | translate}}
                </div>
                <div *ngIf="formControl.email.hasError('notRegistered')"
                     class="icon-error-box">
                    {{"login-card.errors.notRegistered" | translate}}
                </div>

                <!--<ion-item text-wrap class="floating-label-icon-left input-has-icon"-->
                <!--[class.error]="(!formControl.mobilePhone.valid && formControl.mobilePhone.touched)-->
                <!--|| formControl.mobilePhone.hasError('notRegistered')">-->
                <!--<ion-label floating>{{"login-card.labels.mobilePhone" | translate}}</ion-label>-->
                <!--<ion-icon item-left name="phone-portrait" class="floating-label-icon" color="primary"></ion-icon>-->
                <!--<ion-input type="tel"-->
                <!--[formControl]="formControl.mobilePhone"-->
                <!--[(ngModel)]="mobilePhone"-->
                <!--(input)="removeNonDigits()">-->
                <!--</ion-input>-->
                <!--</ion-item>-->
                <!--<div *ngIf="formControl.mobilePhone.hasError('required') && formControl.mobilePhone.touched"-->
                <!--class="icon-error-box">-->
                <!--{{"login-card.errors.phoneMinLength" | translate}}-->
                <!--</div>-->
                <!--<div *ngIf="formControl.mobilePhone.hasError('minlength') && formControl.mobilePhone.touched"-->
                <!--class="icon-error-box">-->
                <!--{{"login-card.errors.phoneMinLength" | translate}}-->
                <!--</div>-->
                <!--<div *ngIf="formControl.mobilePhone.hasError('maxlength') && formControl.mobilePhone.touched"-->
                <!--class="icon-error-box">-->
                <!--{{"login-card.errors.phoneMaxLength" | translate}}-->
                <!--</div>-->
                <!--<div *ngIf="(!formControl.mobilePhone.hasError('minlength')-->
                <!--&& !formControl.mobilePhone.hasError('maxlength'))-->
                <!--&& formControl.mobilePhone.hasError('incompletePhoneNumber')-->
                <!--&& formControl.mobilePhone.touched"-->
                <!--class="icon-error-box">-->
                <!--{{"login-card.errors.phoneIncomplete" | translate}}-->
                <!--</div>-->
                <!--<div *ngIf="formControl.mobilePhone.hasError('notRegistered') && formControl.mobilePhone.touched"-->
                <!--class="icon-error-box">-->
                <!--{{"login-card.errors.notRegistered" | translate}}-->
                <!--</div>-->
                <div padding></div>
            </ion-list>

            <button ion-button block icon-right
                    [disabled]="!forgotPwForm.valid || sentEmail"
                    (click)="sendPasswordResetCode()">
                {{"forgot-password-card.sendEmail" | translate}}
                <ion-icon name="paper-plane"></ion-icon>
            </button>
        </form>

        <button ion-button icon-right clear block
                (click)="showSignInCard()">
            {{"page-login.signIn" | translate}}
            <ion-icon name="log-in"></ion-icon>
        </button>
    </ion-card-content>
</ion-card>
