<ion-header>
    <ion-navbar color="navbar" class="force-back-button">
        <ion-title>
            <ion-row nowrap align-items-center>
                <div *ngIf="program && program.imageUri">
                    <div>
                        <img src="{{program.imageUri}}" height="44" width="44" margin-right/>
                    </div>
                </div>
                <div *ngIf="program && program.name">{{program.name}}</div>
                <div *ngIf="!program || !program.name">{{"page-program-tabs.title" | translate}}</div>
            </ion-row>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width">
        <ion-card-header>
            <h1>{{"page-program-sales.headers.eventTotals" | translate}}</h1>
        </ion-card-header>
        <ion-list>
            <ion-item text-wrap>
                <ion-label>
                    <ion-row align-items-center>
                        <div padding-right>
                            {{"page-program-sales.labels.participants" | translate}}
                        </div>
                        <div *ngIf="participantsData && participantsData.length > 0">
                            <button ion-button outline icon-left color="primary"
                                    (click)="openParticipantRoster()">
                                <ion-icon name="list"></ion-icon>
                                {{"page-program-sales.buttons.roster" | translate}}
                            </button>
                        </div>
                    </ion-row>
                </ion-label>
                <div item-right *ngIf="eventTotals">
                    {{eventTotals.participants}}
                </div>
            </ion-item>
            <ion-item text-wrap>
                {{"page-program-sales.labels.contacts" | translate}}
                <div item-right *ngIf="eventTotals && participantsListContacts">
                    {{eventTotals.contacts}}&nbsp;/&nbsp;{{participantsListContacts.length}}
                </div>
            </ion-item>
            <ion-item text-wrap>
                {{"page-program-sales.labels.commitments" | translate}}
                <div item-right *ngIf="eventTotals">
                    {{eventTotals.commitments}}
                </div>
            </ion-item>
            <div *ngIf="program.contract.product.price">
                <ion-item text-wrap *ngIf="!program.contract.profitPercent">
                    {{"page-program-sales.labels.commitmentSales" | translate}}
                    <div item-right *ngIf="eventTotals">
                        {{eventTotals.commitmentSales | currency:'USD':'symbol-narrow'}}
                    </div>
                </ion-item>
                <ion-item *ngIf="program.contract.profitPercent">
                    {{"page-program-sales.labels.commitmentProfit" | translate}}
                    <div item-right *ngIf="eventTotals">
                        {{eventTotals.commitmentProfit | currency:'USD':'symbol-narrow'}}
                    </div>
                </ion-item>
            </div>
            <ion-item text-wrap>
                <ion-label>
                    <ion-row align-items-center>
                        <div padding-right>
                            {{"page-program-sales.labels.purchases" | translate}}
                        </div>
                        <div *ngIf="eventTotals && eventTotals.commitments > eventTotals.purchases">
                            <button ion-button outline icon-left color="primary"
                                    (click)="openDiscrepancies()">
                                <ion-icon name="list"></ion-icon>
                                {{"page-purchase-commitment-discrepancy.title" | translate}}
                            </button>
                        </div>
                    </ion-row>
                </ion-label>
                <div item-right *ngIf="eventTotals">
                    {{eventTotals.purchases}}
                </div>
            </ion-item>
            <ion-item text-wrap *ngIf="!program.contract.profitPercent">
                {{"page-program-sales.labels.purchasedSales" | translate}}
                <div item-right *ngIf="eventTotals">
                    {{eventTotals.purchasedSales | currency:'USD':'symbol-narrow'}}
                </div>
            </ion-item>
            <ion-item text-wrap *ngIf="program.contract.profitPercent">
                {{"page-program-sales.labels.purchasedProfit" | translate}}
                <div item-right *ngIf="eventTotals">
                    {{eventTotals.purchasedProfit | currency:'USD':'symbol-narrow'}}
                </div>
            </ion-item>

        </ion-list>
    </ion-card>

    <ion-card class="card-centered-limited-width">
        <ion-card-header>
            <h1>{{"page-program-sales.headers.messaging" | translate}}</h1>
        </ion-card-header>
        <ion-card-header>
            <h2>{{"page-program-sales.messaging.program" | translate}}</h2>
        </ion-card-header>
        <ion-card-content>
            <button ion-button icon-left outline block
                    color="secondary"
                    (click)="openNotificationModal({type: NOTIFICATION_TYPE.PROGRAM})">
                <ion-icon name="text"></ion-icon>
                {{"page-program-sales.buttons.message" | translate}}
            </button>
        </ion-card-content>
    </ion-card>

    <div *ngIf="participantsData && participantsData.length > 0">
        <div *ngIf="program.competitionType === COMPETITION_TYPE.GROUP">
            <ion-toolbar>
                <ion-segment [(ngModel)]="selectedSegment" color="primary">
                    <ion-segment-button value="{{COMPETITION_TYPE.INDIVIDUAL}}">
                        {{"page-program-details.labels.individual" | translate}}
                    </ion-segment-button>
                    <ion-segment-button value="{{COMPETITION_TYPE.GROUP}}"
                                        *ngIf="program.competitionType === COMPETITION_TYPE.GROUP">
                        {{"page-program-details.labels.group" | translate}}
                    </ion-segment-button>
                </ion-segment>
            </ion-toolbar>
        </div>

        <div *ngIf="selectedSegment === COMPETITION_TYPE.INDIVIDUAL">
            <ion-grid>
                <ion-row wrap justify-content-center>
                    <ion-card class="card-row"
                              *ngFor="let participant of participantsData">
                        <ion-list>
                            <ion-list-header no-padding>
                                <ion-item text-wrap>
                                    <ion-icon item-left>{{participant.rank}}</ion-icon>
                                    <ion-avatar item-left class="avatar-large">
                                        <img src="{{participant.profile.picture}}" *ngIf="participant.profile.picture">
                                        <div *ngIf="!participant.profile.picture">
                                            <button ion-button icon-only round clear color="primary"
                                                    class="disable-hover no-user-image-icon">
                                                <ion-icon name="contact"></ion-icon>
                                            </button>
                                        </div>
                                    </ion-avatar>
                                    <h1>{{participant.profile.name.display}}</h1>
                                    <p *ngIf="program.competitionType === COMPETITION_TYPE.GROUP &&
                                              participant.profile.groups && participant.profile.groups[program._id]">
                                        {{participant.groupName}}
                                    </p>
                                </ion-item>
                                <ion-item text-wrap>
                                    <ion-row>
                                        <ion-col col-4>
                                            <button ion-button icon-left outline block
                                                    (click)="openParticipantDetails(participant)">
                                                <ion-icon color="primary" name="list"></ion-icon>
                                                {{"page-program-sales.buttons.details" | translate}}
                                            </button>
                                        </ion-col>
                                        <ion-col col-4>
                                            <button ion-button icon-left outline block
                                                    color="secondary"
                                                    (click)="openNotificationModal({type: NOTIFICATION_TYPE.PARTICIPANT, participant: participant})">
                                                <ion-icon name="text"></ion-icon>
                                                {{"page-program-sales.buttons.message" | translate}}
                                            </button>
                                        </ion-col>
                                        <ion-col col-4>
                                            <button ion-button icon-left outline block
                                                    color="danger"
                                                    (click)="confirmRemoveParticipant(participant)">
                                                <ion-icon name="trash"></ion-icon>
                                                {{"general.remove" | translate}}
                                            </button>
                                        </ion-col>
                                    </ion-row>
                                </ion-item>
                            </ion-list-header>
                            <ion-item text-wrap>
                                {{"page-program-sales.labels.points" | translate}}
                                <div item-right *ngIf="participant.totals">
                                    {{participant.totals.points}}
                                </div>
                            </ion-item>
                            <ion-item text-wrap>
                                {{"page-program-sales.labels.contacts" | translate}}
                                <div item-right *ngIf="participant.totals">
                                    {{participant.totals.contacts}}&nbsp;/&nbsp;{{participant.listContacts}}
                                </div>
                            </ion-item>
                            <ion-item text-wrap>
                                {{"page-program-sales.labels.commitments" | translate}}
                                <div item-right *ngIf="participant.totals">
                                    {{participant.totals.commitments}}
                                </div>
                            </ion-item>
                            <div *ngIf="program.contract.product.price">
                                <ion-item text-wrap *ngIf="!program.contract.profitPercent">
                                    {{"page-program-sales.labels.commitmentSales" | translate}}
                                    <div item-right *ngIf="participant.totals">
                                        {{participant.totals.commitmentSales | currency:'USD':'symbol-narrow'}}
                                    </div>
                                </ion-item>
                                <ion-item text-wrap *ngIf="program.contract.profitPercent">
                                    {{"page-program-sales.labels.commitmentProfit" | translate}}
                                    <div item-right *ngIf="participant.totals">
                                        {{participant.totals.commitmentProfit | currency:'USD':'symbol-narrow'}}
                                    </div>
                                </ion-item>
                            </div>
                            <ion-item text-wrap>
                                {{"page-program-sales.labels.purchases" | translate}}
                                <div item-right *ngIf="participant.totals">
                                    {{participant.totals.purchases}}
                                </div>
                            </ion-item>
                            <ion-item text-wrap *ngIf="!program.contract.profitPercent">
                                {{"page-program-sales.labels.purchasedSales" | translate}}
                                <div item-right *ngIf="participant.totals">
                                    {{participant.totals.purchasedSales | currency:'USD':'symbol-narrow'}}
                                </div>
                            </ion-item>
                            <ion-item text-wrap *ngIf="program.contract.profitPercent">
                                {{"page-program-sales.labels.purchasedProfit" | translate}}
                                <div item-right *ngIf="participant.totals">
                                    {{participant.totals.purchasedProfit | currency:'USD':'symbol-narrow'}}
                                </div>
                            </ion-item>
                        </ion-list>
                    </ion-card>
                </ion-row>
            </ion-grid>
        </div>
        <div *ngIf="selectedSegment === COMPETITION_TYPE.GROUP">
            <div *ngIf="programGroups && programGroups.length > 0">
                <ion-grid>
                    <ion-row wrap justify-content-center>

                        <ion-card class="card-row"
                                  *ngFor="let group of programGroups">
                            <ion-list>
                                <ion-list-header no-padding>
                                    <ion-item text-wrap>
                                        <ion-icon item-left>{{group.rank}}</ion-icon>
                                        <ion-thumbnail item-left *ngIf="group.imageUri">
                                            <img src="{{group.imageUri}}">
                                        </ion-thumbnail>
                                        <h1>{{group.name}}</h1>
                                        <div item-right *ngIf="group.totals">
                                            <ion-icon>
                                                {{group.totals.points}}
                                            </ion-icon>
                                        </div>
                                    </ion-item>
                                </ion-list-header>
                                <ion-item text-wrap>
                                    {{"page-program-sales.labels.contacts" | translate}}
                                    <div item-right *ngIf="group.totals">
                                        {{group.totals.contacts}}
                                    </div>
                                </ion-item>
                                <ion-item text-wrap>
                                    {{"page-program-sales.labels.commitments" | translate}}
                                    <div item-right *ngIf="group.totals">
                                        {{group.totals.commitments}}
                                    </div>
                                </ion-item>
                                <div *ngIf="program.contract.product.price">
                                    <ion-item text-wrap *ngIf="!program.contract.profitPercent">
                                        {{"page-program-sales.labels.commitmentSales" | translate}}
                                        <div item-right *ngIf="group.totals">
                                            {{group.totals.commitmentSales | currency:'USD':'symbol-narrow'}}
                                        </div>
                                    </ion-item>
                                    <ion-item text-wrap *ngIf="program.contract.profitPercent">
                                        {{"page-program-sales.labels.commitmentProfit" | translate}}
                                        <div item-right *ngIf="group.totals">
                                            {{group.totals.commitmentProfit | currency:'USD':'symbol-narrow'}}
                                        </div>
                                    </ion-item>
                                </div>
                                <ion-item text-wrap>
                                    {{"page-program-sales.labels.purchases" | translate}}
                                    <div item-right *ngIf="group.totals">
                                        {{group.totals.purchases}}
                                    </div>
                                </ion-item>
                                <ion-item text-wrap *ngIf="!program.contract.profitPercent">
                                    {{"page-program-sales.labels.purchasedSales" | translate}}
                                    <div item-right *ngIf="group.totals">
                                        {{group.totals.purchasedSales | currency:'USD':'symbol-narrow'}}
                                    </div>
                                </ion-item>
                                <ion-item text-wrap *ngIf="program.contract.profitPercent">
                                    {{"page-program-sales.labels.purchasedProfit" | translate}}
                                    <div item-right *ngIf="group.totals">
                                        {{group.totals.purchasedProfit | currency:'USD':'symbol-narrow'}}
                                    </div>
                                </ion-item>


                                <div *ngIf="group.members && group.members.length > 0">
                                    <ion-list-header>
                                        {{"page-program-sales.headers.messaging" | translate}}
                                    </ion-list-header>
                                    <ion-item text-wrap>
                                        {{"page-program-sales.messaging.team" | translate}}
                                        <button ion-button icon-left item-right outline
                                                color="secondary"
                                                (click)="openNotificationModal({type: NOTIFICATION_TYPE.TEAM, group: group})">
                                            <ion-icon name="text"></ion-icon>
                                            {{"page-program-sales.buttons.message" | translate}}
                                        </button>
                                    </ion-item>

                                    <ion-list-header>
                                        {{"page-program-sales.headers.members" | translate}}
                                    </ion-list-header>
                                    <div *ngFor="let participant of group.members">
                                        <button ion-item text-wrap detail-none
                                                (click)="openParticipantDetails(participant)">
                                            <ion-avatar item-left class="avatar-large">
                                                <img src="{{participant.profile.picture}}"
                                                     *ngIf="participant.profile.picture">
                                                <div *ngIf="!participant.profile.picture">
                                                    <button ion-button icon-only round clear color="primary"
                                                            class="disable-hover no-user-image-icon">
                                                        <ion-icon name="contact"></ion-icon>
                                                    </button>
                                                </div>
                                            </ion-avatar>
                                            <h1>{{participant.profile.name.display}}</h1>
                                            <div item-right>
                                                {{participant.totals.points}}
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </ion-list>
                        </ion-card>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
    </div>
</ion-content>