<ion-item-sliding #slidingItem *ngIf="user">
    <ion-item detail-none text-wrap class="user-select">
        <ion-avatar item-left>
            <img src="{{user.profile.picture}}" *ngIf="user.profile.picture">
            <div *ngIf="!user.profile.picture">
                <button ion-button icon-only round clear color="primary"
                        class="disable-hover no-user-image-icon">
                    <ion-icon name="contact"></ion-icon>
                </button>
            </div>
        </ion-avatar>
        <h2>{{user.profile.name.display}}</h2>
        <p *ngIf="user && user.emails">{{user.emails['0'].address}}</p>
        <button ion-button clear icon-only item-right
                (click)="removeUser(user)"
                *ngIf="!isSelf && !isAdmin">
            <ion-icon name="remove-circle" color="danger"></ion-icon>
        </button>
    </ion-item>

    <!--<ion-item-options side="right">-->
        <!--<button ion-button color="danger"-->
                <!--(click)="removeUser(user, slidingItem)">-->
            <!--<ion-icon name="remove-circle"></ion-icon>-->
            <!--{{"general.remove" | translate}}-->
        <!--</button>-->
    <!--</ion-item-options>-->
</ion-item-sliding>
