<ion-header>
    <ion-navbar color="navbar">
        <ion-title>{{"page-push-notification-modal.title" | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width">
        <ion-card-header>
            <h1>{{"page-push-notification-modal.headers." + params.data.type | translate}}</h1>
        </ion-card-header>
        <ion-card-header>
            <h2>{{"page-program-sales.messaging." + params.data.type | translate}}</h2>
        </ion-card-header>
        <ion-card-header>
            <h1>{{params.data.name}}</h1>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="formGroup">
                <ion-list margin-bottom>
                    <ion-item text-wrap
                              [class.error]="!formControl.title.valid && formControl.title.touched">
                        <ion-label floating>{{"page-push-notification-modal.labels.title" | translate}}</ion-label>
                        <ion-input type="text"
                                   [(ngModel)]="notification.title"
                                   [formControl]="formControl.title"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label stacked ion-text color="primary" text-uppercase>
                            {{"page-push-notification-modal.labels.message" | translate}}
                        </ion-label>
                        <ion-textarea class="script-textarea"
                                      [(ngModel)]="notification.message"
                                      [formControl]="formControl.message">
                        </ion-textarea>
                    </ion-item>
                    <div padding></div>
                </ion-list>
            </form>
        </ion-card-content>

        <ion-card-content>
            <button ion-button block icon-right color="secondary"
                    [disabled]="!formGroup.valid"
                    (click)="sendPushNotification()">
                {{"page-push-notification-modal.buttons.sendNotification" | translate}}
                <ion-icon name="paper-plane"></ion-icon>
            </button>
        </ion-card-content>
    </ion-card>
</ion-content>