<ion-header>
    <ion-navbar color="navbar">
        <ion-title>{{"page-edit-group.title" | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only
                    (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width"
              *ngIf="user">
        <add-image [imageUri]="imageUri"
                   *ngIf="imageUri">

        </add-image>
        <add-image [imageUri]="placeholderImageUri"
                   *ngIf="!imageUri">
        </add-image>
        <ion-card-content>
            <form [formGroup]="formGroup">
                <ion-list>
                    <ion-item text-wrap
                              [class.error]="!formControl.name.valid && formControl.name.touched">
                        <ion-label floating>{{"page-edit-group.labels.groupName" | translate}}</ion-label>
                        <ion-input type="text"
                                   [(ngModel)]="group.name"
                                   [formControl]="formControl.name"></ion-input>
                    </ion-item>

                    <ion-item></ion-item>
                </ion-list>
            </form>
        </ion-card-content>
    </ion-card>

    <div padding>
        <button ion-button block color="primary"
                (click)="saveGroup()">
            {{"general.save" | translate}}
        </button>
    </div>
</ion-content>