<ion-header>
    <ion-navbar color="navbar">
        <ion-title>{{"page-participant-roster.title" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width">
        <div *ngIf="participantsData && participantsData.length > 0">
            <table class="participant-table">
                <tr>
                    <th style="text-align: left;">{{"page-participant-roster.tableHeaders.name" | translate}}</th>
                    <th>{{"page-participant-roster.tableHeaders.contacts" | translate}}</th>
                    <th>{{"page-participant-roster.tableHeaders.orders" | translate}}</th>
                    <th>{{"page-participant-roster.tableHeaders.rank" | translate}}</th>
                </tr>
                <tr *ngFor="let participant of participantsData">
                    <td style="text-align: left;">
                        {{participant.profile.name.family}},&nbsp;{{participant.profile.name.given}}
                    </td>
                    <td *ngIf="participant.totals">
                        {{participant.totals.contacts}}&nbsp;/&nbsp;{{participant.listContacts}}
                    </td>
                    <td *ngIf="participant.totals">
                        {{participant.totals.purchases}}&nbsp;/&nbsp;{{participant.totals.commitments}}
                    </td>
                    <td *ngIf="participant.rank">
                        {{participant.rank}}
                    </td>
                </tr>
            </table>
        </div>
        <ion-card-content>
            <button ion-button block color="primary"
                    (click)="exportToCsv()">
                {{"page-participant-roster.buttons.export" | translate}}
            </button>
        </ion-card-content>
    </ion-card>
</ion-content>