<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-row nowrap align-items-center>
                <div *ngIf="program && program.imageUri">
                    <div>
                        <img src="{{program.imageUri}}" height="36" width="36" margin-right/>
                    </div>
                </div>
                {{"page-order-commitment.title" | translate}}
            </ion-row>
        </ion-title>
        <ion-buttons end>
            <button ion-button
                    (click)="onSubmit()">
                {{"general.save" | translate}}
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width">
        <ion-card-content>
            <h1 padding-top padding-bottom>
                {{"page-order-commitment.message" | translate:contactNameTranslateParam}}
            </h1>

            <form>
                <ion-list>
                    <ion-item text-wrap class="quantity-changer">
                        <ion-label ion-text color="primary" text-uppercase>
                            {{"page-order-commitment.labels.quantity" | translate}}
                        </ion-label>
                        <button ion-button icon-only item-right outline
                                (click)="onChangeQuantity('-')">
                            <ion-icon name="remove"></ion-icon>
                        </button>
                        <ion-badge item-right color="primary">{{quantity}}</ion-badge>
                        <button ion-button icon-only item-right outline
                                (click)="onChangeQuantity('+')">
                            <ion-icon name="add"></ion-icon>
                        </button>
                    </ion-item>
                    <ion-item>
                        <ion-label stacked ion-text color="primary" text-uppercase>
                            {{"page-order-commitment.labels.notes" | translate}}
                        </ion-label>
                        <ion-textarea placeholder="{{'page-order-commitment.notesPlaceholder' | translate}}"
                                      [(ngModel)]="eventContact.notes"
                                      [ngModelOptions]="{standalone: true}">
                        </ion-textarea>
                    </ion-item>
                </ion-list>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>