<ion-header>
    <ion-navbar color="navbar">
        <ion-title>{{"page-select-group-members-modal.title" | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
            <button ion-button icon-only (click)="done()">
                <ion-icon name="done-all"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="unassignedParticipants && unassignedParticipants.length > 0">
        <ion-card class="card-centered-limited-width">
            <ion-list>
                <div *ngFor="let participant of unassignedParticipants">
                    <ion-item text-wrap>
                        <ion-checkbox item-left color="primary" [(ngModel)]="participant.isSelected"></ion-checkbox>
                        <ion-avatar item-left class="avatar-large">
                            <img src="{{participant.profile.picture}}" *ngIf="participant.profile.picture">
                            <div *ngIf="!participant.profile.picture">
                                <button ion-button icon-only round clear color="primary"
                                        class="disable-hover no-user-image-icon">
                                    <ion-icon name="contact"></ion-icon>
                                </button>
                            </div>
                        </ion-avatar>
                        <ion-label>
                            <h1>{{participant.profile.name.display}}</h1>
                        </ion-label>
                    </ion-item>
                </div>
            </ion-list>
        </ion-card>
    </div>
</ion-content>