<ion-tabs color="primary">
    <ion-tab [root]="tab1Root"
             tabIcon="information-circle"
             tabTitle="{{'page-program-details.title' | translate}}"></ion-tab>
    <ion-tab [root]="tab3Root"
             tabIcon="text"
             tabTitle="{{'page-program-scripts.title' | translate}}"></ion-tab>
    <ion-tab [root]="tab5Root"
             tabIcon="analytics"
             tabTitle="{{'page-program-sales.title' | translate}}"></ion-tab>
</ion-tabs>