<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title style="overflow: hidden;">{{"page-home.title" | translate}}</ion-title>
        <ion-buttons end>
            <!--<button ion-button icon-only outline color="white"-->
                    <!--(click)="getManagedPrograms()">-->
                <!--<ion-icon name="md-refresh"></ion-icon>-->
            <!--</button>-->
            <button ion-button icon-only outline color="white"
                    (click)="promptOnlineStoreId()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar color="navbar">
        <ion-row nowrap align-items-center>
            <div padding
                 *ngIf="filteredPrograms && paginationInfo.pageCount === 1">
                <strong ion-text color="white">{{filteredPrograms.length}}</strong>
            </div>
            <ion-searchbar padding-left padding-right
                           (ionInput)="getItems($event)"
                           (ionClear)="onClearSearch($event)">
            </ion-searchbar>
            <button ion-button large outline icon-left
                    margin-right
                    class="inner-padding-left inner-padding-right"
                    color="white"
                    (click)="selectFilter()">
                <ion-icon color="white">
                    <i class="fa fa-filter" aria-hidden="true"></i>
                </ion-icon>
                {{selectedFilter}}
            </button>
            <button ion-button large outline icon-left
                    margin-right
                    class="inner-padding-left inner-padding-right"
                    color="white"
                    (click)="selectSortCategory()">
                <ion-icon color="white">
                    <i class="fa fa-sort" aria-hidden="true"></i>
                </ion-icon>
                {{"page-home.sortCategories." + selectedCategory | translate}}
            </button>
            <button ion-button large outline icon-only
                    color="white"
                    (click)="toggleSortDirection()">
                <ion-icon [name]="sortDescending ? 'arrow-dropdown': 'arrow-dropup'"></ion-icon>
            </button>
        </ion-row>
    </ion-toolbar>
    <ion-toolbar color="navbar"
                 *ngIf="filteredPrograms && filteredPrograms.length > 0 && paginationInfo.pageCount > 1">
        <pagination-component
                color="white"
                (clickBeginning)="changePage(1)"
                (clickPrevious)="changePage(paginationInfo.page - 1)"
                (clickNext)="changePage(paginationInfo.page + 1)"
                (clickEnd)="changePage(paginationInfo.pageCount)"
                [pagination]="paginationInfo"></pagination-component>
    </ion-toolbar>
</ion-header>

<ion-content #content>
    <div *ngIf="programs && programs.length > 0">
        <ion-grid>
            <ion-row wrap justify-content-center>
                <div *ngFor="let program of filteredPrograms | slice:(currentPageItemsMin - 1):(currentPageItemsMax)">
                    <ion-card class="card-row"
                              *ngIf="program.contract && !program.contract.cancelDate">
                        <div class="clickable" (click)="editProgram(program)">
                            <img src="{{program.imageUri}}" class="card-image" *ngIf="program.imageUri">
                            <img src="{{placeholderImageUri}}" class="card-image" *ngIf="!program.imageUri">
                        </div>
                        <ion-card-content>
                            <div class="user-select">
                                <h1 text-center class="program-name">{{program.name}}</h1>
                                <div *ngIf="program.contract">
                                    <h2 text-center>{{program.eventDate | moment}}</h2>
                                    <h2 text-center>{{program.contract.contractNumber}}</h2>
                                    <h2 text-center>{{program.contract.salesRep.name}}</h2>
                                    <div *ngIf="program.contract.product.price">
                                        <ion-row>
                                            <ion-col *ngIf="!program.contract.profitPercent">
                                                <p text-center>
                                                    <small>{{"page-program-sales.labels.commitmentSales" | translate}}:&nbsp;</small>
                                                    {{program.commitmentSales || 0 |
                                                    currency:'USD':'symbol-narrow':'1.0-0'}}
                                                </p>
                                            </ion-col>
                                            <ion-col *ngIf="program.contract.profitPercent">
                                                <p text-center>
                                                    <small>{{"page-program-sales.labels.commitmentProfit" | translate}}:&nbsp;</small>
                                                    {{program.commitmentProfit || 0 |
                                                    currency:'USD':'symbol-narrow':'1.0-0'}}
                                                </p>
                                            </ion-col>
                                        </ion-row>
                                    </div>
                                    <ion-row>
                                        <ion-col *ngIf="!program.contract.profitPercent">
                                            <p text-center>
                                                <small>{{"page-program-sales.labels.purchasedSales" |
                                                    translate}}:&nbsp;
                                                </small>
                                                {{program.purchasedSales || 0 |
                                                currency:'USD':'symbol-narrow':'1.0-0'}}
                                            </p>
                                        </ion-col>
                                        <ion-col *ngIf="program.contract.profitPercent">
                                            <p text-center>
                                                <small>{{"page-program-sales.labels.purchasedProfit" | translate}}:&nbsp;</small>
                                                {{program.purchasedProfit || 0 |
                                                currency:'USD':'symbol-narrow':'1.0-0'}}
                                            </p>
                                        </ion-col>
                                    </ion-row>

                                </div>
                            </div>

                            <button ion-button block color="primary" margin-top
                                    (click)="editProgram(program)">
                                {{"page-home.buttons.manageProgram" | translate}}
                            </button>

                            <button ion-button block color="secondary" margin-top
                                    (click)="showLeaderboard(program)">
                                {{"page-leaderboard.title" | translate}}
                            </button>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>