<ion-header>
    <ion-navbar color="navbar" class="force-back-button">
        <ion-title>
            <ion-row nowrap align-items-center style="overflow: hidden;">
                <div *ngIf="program && program.imageUri">
                    <div>
                        <img src="{{program.imageUri}}" height="44" width="44" margin-right/>
                    </div>
                </div>
                <div *ngIf="program && program.name">{{program.name}}</div>
                <div *ngIf="!program || !program.name">{{"page-program-tabs.title" | translate}}</div>
            </ion-row>
        </ion-title>
        <ion-buttons end>
            <button ion-button outline color="white"
                    (click)="onSubmit()">
                {{"general.save" | translate}}
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row wrap justify-content-center>
            <ion-card class="card-centered-limited-width">
                <ion-card-header>
                    <h1>{{"page-program-scripts.headers.actions" | translate}}</h1>
                </ion-card-header>
                <ion-card-content>
                    <ion-list padding-bottom>
                        <ion-item text-wrap>
                            <ion-label>
                                {{"page-program-scripts.labels.otherScripts" | translate}}
                            </ion-label>
                            <ion-select [(ngModel)]="otherProgramScriptsId"
                                        placeholder="{{'page-program-scripts.labels.select' | translate}}"
                                        [selectOptions]="otherScriptDialogOptions"
                                        [disabled]="!otherPrograms || otherPrograms.length === 0"
                                        (ionChange)="onSelectOtherScripts()">
                                <div *ngIf="otherPrograms && otherPrograms.length > 0">
                                    <div *ngFor="let otherProgram of otherPrograms">
                                        <ion-option value="{{otherProgram._id}}">{{otherProgram.name}}</ion-option>
                                    </div>
                                </div>
                                <div *ngIf="!otherPrograms || otherPrograms.length === 0">
                                    <ion-option value="0">{{"page-program-scripts.labels.noneAvailable" | translate}}
                                    </ion-option>
                                </div>
                            </ion-select>
                        </ion-item>
                        <ion-item text-wrap>
                            <ion-label>
                                {{"page-program-scripts.labels.savedScripts" | translate}}
                            </ion-label>
                            <ion-select [(ngModel)]="savedScriptId"
                                        placeholder="{{'page-program-scripts.labels.select' | translate}}"
                                        [selectOptions]="savedScriptDialogOptions"
                                        [disabled]="!savedScripts || savedScripts.length === 0"
                                        (ionChange)="onSelectSavedScripts()">
                                <div *ngIf="savedScripts && savedScripts.length > 0">
                                    <div *ngFor="let savedScript of savedScripts">
                                        <ion-option value="{{savedScript._id}}">{{savedScript.name}}</ion-option>
                                    </div>
                                </div>
                                <div *ngIf="!savedScripts || savedScripts.length === 0">
                                    <ion-option value="0">{{"page-program-scripts.labels.noneAvailable" | translate}}
                                    </ion-option>
                                </div>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                    <button ion-item text-wrap detail-none
                            color="primary" class="ion-item-button"
                            (click)="loadDefaultScripts()">
                        <ion-icon name="paper" item-left></ion-icon>
                        <ion-label text-center>
                            {{"page-program-scripts.buttons.loadDefaults" | translate}}
                        </ion-label>
                    </button>
                    <button ion-item text-wrap detail-none
                            color="danger" class="ion-item-button"
                            (click)="clearAllScripts()">
                        <ion-icon name="trash" item-left></ion-icon>
                        <ion-label text-center>
                            {{"page-program-scripts.buttons.clearAll" | translate}}
                        </ion-label>
                    </button>

                </ion-card-content>

                <ion-card-header>
                    <h1>
                        {{"page-program-scripts.headers.myScripts" | translate}}
                    </h1>
                </ion-card-header>
                <ion-card-content>
                    <button ion-item text-wrap detail-none
                            color="secondary" class="ion-item-button"
                            (click)="promptSaveScripts()">
                        <ion-icon item-left>
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </ion-icon>
                        <ion-label text-center>
                            {{"page-program-scripts.buttons.saveScripts" | translate}}
                        </ion-label>
                    </button>
                    <button ion-item text-wrap detail-none
                            color="secondary" class="ion-item-button"
                            (click)="promptRemoveScripts()"
                            *ngIf="savedScripts && savedScripts.length > 0">
                        <ion-icon item-left>
                            <i class="fa fa-eraser" aria-hidden="true"></i>
                        </ion-icon>
                        <ion-label text-center>
                            {{"page-program-scripts.buttons.removeScripts" | translate}}
                        </ion-label>
                    </button>
                </ion-card-content>
            </ion-card>

            <ion-card class="card-centered-limited-width">
                <ion-card-header>
                    <h1>{{"page-program-scripts.headers.scriptVariables" | translate}}</h1>
                </ion-card-header>
                <ion-list>
                    <ion-item text-wrap class="user-select"
                              *ngFor="let scriptVariable of scriptVariables">
                        {{"page-program-scripts.variables." + scriptVariable + ".label" | translate}}
                        <p class="p-item-description">
                            {{"page-program-scripts.variables." + scriptVariable + ".description" | translate}}
                        </p>
                    </ion-item>
                </ion-list>
            </ion-card>

            <ion-card class="card-centered-limited-width">
                <ion-item class="ion-list-icon-header" text-wrap>
                    <h1>{{"page-program-scripts.headers.callToAction" | translate}}</h1>
                    <button ion-button clear item-right icon-only large
                            (click)="loadDefaultScript(scriptKeys.CALL_TO_ACTION)">
                        <ion-icon name="paper" color="primary"></ion-icon>
                    </button>
                    <button ion-button clear item-right icon-only large
                            (click)="clearScript(scriptKeys.CALL_TO_ACTION)">
                        <ion-icon name="trash" color="danger"></ion-icon>
                    </button>
                </ion-item>
                <ion-card-content>
                    <form>
                        <ion-list>
                            <ion-item>
                                <ion-textarea placeholder="{{'page-program-scripts.textarea-placeholder' | translate}}"
                                              class="script-textarea"
                                              [(ngModel)]="program.scripts.callToAction"
                                              [ngModelOptions]="{standalone: true}">
                                </ion-textarea>
                            </ion-item>
                        </ion-list>
                    </form>
                </ion-card-content>
            </ion-card>

            <ion-card class="card-centered-limited-width">
                <ion-item class="ion-list-icon-header" text-wrap>
                    <h1>{{"page-program-scripts.headers.callScript" | translate}}</h1>
                    <button ion-button clear item-right icon-only large
                            (click)="loadDefaultScript(scriptKeys.CALL)">
                        <ion-icon name="paper" color="primary"></ion-icon>
                    </button>
                    <button ion-button clear item-right icon-only large
                            (click)="clearScript(scriptKeys.CALL)">
                        <ion-icon name="trash" color="danger"></ion-icon>
                    </button>
                </ion-item>
                <ion-card-content>
                    <form>
                        <ion-list>
                            <ion-item>
                                <ion-textarea placeholder="{{'page-program-scripts.textarea-placeholder' | translate}}"
                                              class="script-textarea"
                                              [(ngModel)]="program.scripts.call"
                                              [ngModelOptions]="{standalone: true}">
                                </ion-textarea>
                            </ion-item>
                        </ion-list>
                    </form>
                </ion-card-content>
            </ion-card>

            <ion-card class="card-centered-limited-width">
                <ion-item class="ion-list-icon-header" text-wrap>
                    <h1>{{"page-program-scripts.headers.smsTemplate" | translate}}</h1>
                    <button ion-button clear item-right icon-only large
                            (click)="loadDefaultScript(scriptKeys.TEXT)">
                        <ion-icon name="paper" color="primary"></ion-icon>
                    </button>
                    <button ion-button clear item-right icon-only large
                            (click)="clearScript(scriptKeys.TEXT)">
                        <ion-icon name="trash" color="danger"></ion-icon>
                    </button>
                </ion-item>
                <ion-card-content>
                    <form>
                        <ion-list>
                            <ion-item>
                                <ion-textarea placeholder="{{'page-program-scripts.textarea-placeholder' | translate}}"
                                              class="script-textarea"
                                              [(ngModel)]="program.scripts.text"
                                              [ngModelOptions]="{standalone: true}">
                                </ion-textarea>
                            </ion-item>
                        </ion-list>
                    </form>
                </ion-card-content>
            </ion-card>

            <ion-card class="card-centered-limited-width">
                <ion-item class="ion-list-icon-header" text-wrap>
                    <h1>{{"page-program-scripts.headers.orderConfirmation" | translate}}</h1>
                    <button ion-button clear item-right icon-only large
                            (click)="loadDefaultScript(scriptKeys.ORDER_CONFIRMATION)">
                        <ion-icon name="paper" color="primary"></ion-icon>
                    </button>
                    <button ion-button clear item-right icon-only large
                            (click)="clearScript(scriptKeys.ORDER_CONFIRMATION)">
                        <ion-icon name="trash" color="danger"></ion-icon>
                    </button>
                </ion-item>
                <ion-card-content>
                    <form>
                        <ion-list>
                            <ion-item>
                                <ion-textarea placeholder="{{'page-program-scripts.textarea-placeholder' | translate}}"
                                              class="script-textarea"
                                              [(ngModel)]="program.scripts.orderConfirmation"
                                              [ngModelOptions]="{standalone: true}">
                                </ion-textarea>
                            </ion-item>
                        </ion-list>
                    </form>
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>