<ion-header>
    <ion-navbar color="navbar">
        <ion-title>{{"page-group-manager.title" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width">
        <ion-card-content>
            <button ion-button block large color="primary"
                    (click)="editGroup()">
                {{"page-group-manager.buttons.createGroup" | translate}}
            </button>
        </ion-card-content>
    </ion-card>

    <div *ngIf="programGroups && programGroups.length > 0">
        <ion-grid>
            <ion-row wrap justify-content-center>
                <div *ngFor="let programGroup of programGroups">
                    <ion-card class="card-row">
                        <ion-list>
                            <ion-list-header no-margin="!programGroup.members && programGroup.members.length === 0">
                                <ion-item class="ion-list-icon-header" text-wrap>
                                    <ion-thumbnail item-left *ngIf="programGroup.imageUri">
                                        <img src="{{programGroup.imageUri}}">
                                    </ion-thumbnail>
                                    <h1>{{programGroup.name}}</h1>
                                    <button ion-button item-right icon-only clear color="primary"
                                            (click)="selectParticipants(programGroup)"
                                            *ngIf="unassignedParticipants && unassignedParticipants.length > 0">
                                        <ion-icon name="person-add"></ion-icon>
                                    </button>
                                    <button ion-button item-right icon-only clear color="secondary"
                                            (click)="editGroup(programGroup)">
                                        <ion-icon name="create"></ion-icon>
                                    </button>
                                    <button ion-button item-right icon-only clear color="danger"
                                            (click)="promptRemoveGroup(programGroup)">
                                        <ion-icon name="trash"></ion-icon>
                                    </button>
                                </ion-item>
                            </ion-list-header>
                            <div *ngIf="programGroup.members && programGroup.members.length > 0">
                                <div *ngFor="let participant of programGroup.members">
                                    <ion-item text-wrap>
                                        <ion-avatar item-left class="avatar-large">
                                            <img src="{{participant.profile.picture}}"
                                                 *ngIf="participant.profile.picture">
                                            <div *ngIf="!participant.profile.picture">
                                                <button ion-button icon-only round clear color="primary"
                                                        class="disable-hover no-user-image-icon">
                                                    <ion-icon name="contact"></ion-icon>
                                                </button>
                                            </div>
                                        </ion-avatar>
                                        <h1>{{participant.profile.name.display}}</h1>
                                        <button ion-button icon-only clear item-right
                                                (click)="removeGroupMember(participant._id)">
                                            <ion-icon name="remove-circle" color="danger"></ion-icon>
                                        </button>
                                    </ion-item>
                                </div>
                            </div>
                        </ion-list>
                    </ion-card>
                </div>
            </ion-row>
        </ion-grid>
    </div>

    <div *ngIf="unassignedParticipants && unassignedParticipants.length > 0">
        <ion-card class="card-centered-limited-width">
            <ion-list>
                <ion-list-header>
                    <ion-item>
                        <h1>
                            {{"page-group-manager.headers.unassignedParticipants" | translate}}
                        </h1>
                        <ion-icon item-right>
                            {{unassignedParticipants.length}}
                        </ion-icon>
                    </ion-item>
                </ion-list-header>
                <div *ngFor="let participant of unassignedParticipants">
                    <ion-item text-wrap>
                        <ion-avatar item-left class="avatar-large">
                            <img src="{{participant.profile.picture}}" *ngIf="participant.profile.picture">
                            <div *ngIf="!participant.profile.picture">
                                <button ion-button icon-only round clear color="primary"
                                        class="disable-hover no-user-image-icon">
                                    <ion-icon name="contact"></ion-icon>
                                </button>
                            </div>
                        </ion-avatar>
                        <h1>{{participant.profile.name.display}}</h1>
                    </ion-item>
                </div>
            </ion-list>
        </ion-card>
    </div>

</ion-content>