<ion-header>
    <ion-navbar color="navbar" class="force-back-button">
        <ion-title>
            <ion-row nowrap align-items-center style="overflow: hidden;">
                <div *ngIf="program && program.imageUri"><img src="{{program.imageUri}}" height="44" width="44"
                                                                 margin-right/></div>
                <div *ngIf="program && program.name">{{program.name}}</div>
                <div *ngIf="!program || !program.name">{{"page-program-tabs.title" | translate}}</div>
            </ion-row>
        </ion-title>
        <ion-buttons end>
            <button ion-button outline color="white"
                    *ngIf="formGroup.valid"
                    [disabled]="!formGroup.valid"
                    (click)="onSubmit()">
                {{"general.save" | translate}}
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row wrap justify-content-center>
            <ion-card class="card-row">
                <ion-card-header>
                    <h1>{{"page-program-details.headers.programInfo" | translate}}</h1>
                </ion-card-header>
                <ion-card-content>
                    <form [formGroup]="formGroup">
                        <ion-list>
                            <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                                      [class.error]="!formControl.programName.valid && formControl.programName.touched">
                                <ion-label floating>{{"page-program-details.labels.displayName" | translate}}
                                </ion-label>
                                <ion-icon color="primary" name="person" item-left
                                          class="floating-label-icon"></ion-icon>
                                <ion-input type="text"
                                           [(ngModel)]="program.name"
                                           [formControl]="formControl.programName"></ion-input>
                            </ion-item>
                            <ion-item text-wrap class="floating-label-icon-left input-has-icon">
                                <ion-label floating>
                                    {{"page-program-details.labels.eventDate" | translate}}
                                </ion-label>
                                <ion-icon color="primary" name="calendar" item-left
                                          class="floating-label-icon"></ion-icon>
                                <ion-datetime #kickofDate displayFormat="MM/DD/YYYY" pickerFormat="MMMM DD YYYY"
                                              [min]="minDate"
                                              [max]="maxDate"
                                              cancelText="{{'general.cancel' | translate}}"
                                              doneText="{{'general.done' | translate}}"
                                              [formControl]="formControl.kickoffDate"
                                              [(ngModel)]="program.eventDate">
                                </ion-datetime>
                            </ion-item>
                            <ion-item></ion-item>
                        </ion-list>
                    </form>

                    <ion-list-header>
                        <h2>{{"page-program-details.headers.eventInfo" | translate}}</h2>
                    </ion-list-header>
                    <ion-list no-lines>
                        <ion-item text-wrap class="user-select">
                            <ion-icon item-left name="code">
                            </ion-icon>
                            <ion-label>
                                {{"page-program-kickoff.labels.kickoffCode" | translate}}
                            </ion-label>
                            <div item-right *ngIf="program.contract">
                                {{program.contract.contractNumber}}
                            </div>
                        </ion-item>
                    </ion-list>

                    <div *ngIf="program.contract.product && program.contract.product.price">
                        <ion-list-header>
                            <h2>{{"page-program-details.headers.productInfo" | translate}}</h2>
                        </ion-list-header>
                        <ion-list>
                            <ion-item text-wrap class="user-select">
                                <ion-thumbnail item-left>
                                    <img src="{{program.contract.product.imageUrl}}">
                                </ion-thumbnail>
                                <ion-label>
                                    {{program.contract.product.label}}
                                </ion-label>
                                <div item-right>
                                    {{program.contract.product.price | currency:'USD':'symbol-narrow'}}
                                </div>
                            </ion-item>
                        </ion-list>
                    </div>
                </ion-card-content>
            </ion-card>

            <ion-card class="card-row">
                <ion-card-header>
                    <h1>{{"page-program-details.headers.programLogo" | translate}}</h1>
                </ion-card-header>
                <ion-card-content>
                    {{"page-program-details.messages.programLogo" | translate}}
                </ion-card-content>
                <add-image [imageUri]="imageUri"
                           *ngIf="imageUri">
                </add-image>
                <add-image [imageUri]="placeholderImageUri"
                           *ngIf="!imageUri">
                </add-image>
            </ion-card>

            <ion-card class="card-row">
                <program-managers-card></program-managers-card>
            </ion-card>

            <ion-card class="card-row">
                <ion-card-header text-wrap>
                    <h1>{{"page-program-kickoff.headers.kickoffEventDetails" | translate}}</h1>
                </ion-card-header>

                <ion-card-content>
                    {{"page-program-kickoff.kickoffEventDetailsMessage" | translate}}

                    <ion-list>
                        <button ion-item text-wrap detail-none>
                            <ion-icon name="trophy" color="primary" item-left></ion-icon>
                            <ion-label>
                                {{"page-program-details.labels.competitionType" | translate}}
                            </ion-label>
                            <div item-right>
                                <button ion-button large color="secondary" text-capitalize outline
                                        (click)="selectCompetitionType()">
                                    {{"page-program-details.labels." + program.competitionType | translate}}
                                </button>
                                <button ion-button block color="primary"
                                        (click)="manageGroups()"
                                        *ngIf="program.competitionType === COMPETITION_TYPE.GROUP">
                                    {{"page-program-details.buttons.manageGroups" | translate}}
                                </button>
                            </div>
                        </button>

                        <div *ngFor="let item of eventDetailItems">
                            <button ion-item details-none text-wrap
                                    (click)="item.onClick()"
                                    *ngIf="!item.hide">
                                <ion-icon item-left color="primary"
                                          [name]="!item.isFA ? item.icon : ''">
                                    <i class="fa {{item.icon}}" aria-hidden="true"
                                       *ngIf="item.isFA"></i>
                                </ion-icon>
                                {{"page-program-kickoff.labels." + item.name | translate}}
                                <button ion-button color="secondary" item-right large>
                                    {{program[item.name]}}
                                </button>
                            </button>
                        </div>

                        <ion-list-header>
                            <h2>{{"page-program-kickoff.alerts.eventPoints.title" | translate}}</h2>
                        </ion-list-header>
                        <div *ngFor="let item of eventPointItems">
                            <button ion-item details-none text-wrap
                                    (click)="setEventPoints(item.name)">
                                <ion-icon item-left color="primary"
                                          [name]="!item.isFA ? item.icon : ''">
                                    <i class="fa {{item.icon}}" aria-hidden="true"
                                       *ngIf="item.isFA"></i>
                                </ion-icon>
                                {{"page-program-kickoff.eventPoints." + item.name | translate}}
                                <button ion-button color="secondary" item-right large>
                                    {{program.eventPoints[item.name]}}
                                </button>
                            </button>
                        </div>
                    </ion-list>
                </ion-card-content>

                <ion-card-header text-wrap>
                    <h1>{{"page-program-details.headers.myPoints" | translate}}</h1>
                </ion-card-header>
                <ion-card-content>
                    <ion-list padding-bottom>
                        <ion-item text-wrap *ngIf="savedPoints && savedPoints.length > 0">
                            <ion-label>
                                {{"page-program-details.labels.loadSavedPoints" | translate}}
                            </ion-label>
                            <ion-select [(ngModel)]="savedEventPointsId"
                                        placeholder="{{'page-program-scripts.labels.select' | translate}}"
                                        [selectOptions]="savedEventPointsDialogOptions"
                                        [disabled]="!savedPoints || savedPoints.length === 0"
                                        (ionChange)="onSelectSavedEventPoints()">
                                <div *ngIf="savedPoints && savedPoints.length > 0">
                                    <div *ngFor="let points of savedPoints">
                                        <ion-option value="{{points._id}}">{{points.name}}</ion-option>
                                    </div>
                                </div>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                    <button ion-item text-wrap detail-none
                            color="secondary" class="ion-item-button"
                            (click)="promptSaveMyPoints()">
                        <ion-icon item-left>
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </ion-icon>
                        <ion-label text-center>
                            {{"page-program-details.buttons.saveMyPoints" | translate}}
                        </ion-label>
                    </button>
                    <button ion-item text-wrap detail-none
                            color="secondary" class="ion-item-button"
                            (click)="promptRemoveMyPoints()"
                            *ngIf="savedPoints && savedPoints.length > 0">
                        <ion-icon item-left>
                            <i class="fa fa-eraser" aria-hidden="true"></i>
                        </ion-icon>
                        <ion-label text-center>
                            {{"page-program-details.buttons.removeMyPoints" | translate}}
                        </ion-label>
                    </button>
                </ion-card-content>
            </ion-card>

        </ion-row>
    </ion-grid>
</ion-content>