<ion-item class="ion-list-icon-header" text-wrap>
    <h1>{{"program-managers-card.header" | translate}}</h1>
    <button ion-button clear item-right icon-only large
            (click)="addManager()">
        <ion-icon name="add-circle"></ion-icon>
    </button>
</ion-item>
<ion-list *ngIf="managers && managers.length > 0">
    <div *ngFor="let manager of managers">
        <program-manager-item [user]="manager"
                              (onRemoveUser)="onRemoveUser($event)">
        </program-manager-item>
    </div>
</ion-list>
