page-leaderboard {
  .timer-text {
    font-size: 10rem;
  }

  .progressbar-text-background {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100px;
    opacity: 0.2;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
  }
  .progress-element {
    width: 200px;
    margin: 20px auto;
  }
}