page-participant-details {
  .event-contacts-table {
    border-collapse: collapse;
    width: 100%;

    th, td {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 5px;
    }

    tr:nth-child(even) {
      background-color: #eeeeee;
    }
  }
  .event-point-list-item {
    font-size: 1.2rem;
  }
}