<ion-header>
    <ion-navbar color="navbar">
        <ion-title>{{"page-add-program-manager-modal.title" | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only
                    (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width">
        <ion-card-header>
            <h1 text-center>{{programManager.email}}</h1>
        </ion-card-header>
        <ion-card-content text-center>
            <h2 padding-bottom>{{"page-add-program-manager-modal.notExist" | translate}}</h2>
            <p>
                {{"page-add-program-manager-modal.invitation" | translate}}
            </p>
            <form [formGroup]="formGroup">
                <ion-list *ngIf="programManager.profile">
                    <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                              [class.error]="!formControl.givenName.valid && formControl.givenName.touched">
                        <ion-label floating>{{"create-account-card.labels.firstName" | translate}}</ion-label>
                        <ion-icon color="primary" name="person" item-left class="floating-label-icon"></ion-icon>
                        <ion-input type="text"
                                   [(ngModel)]="programManager.profile.name.given"
                                   [formControl]="formControl.givenName"></ion-input>
                    </ion-item>

                    <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                              [class.error]="!formControl.familyName.valid && formControl.familyName.touched">
                        <ion-label floating>{{"create-account-card.labels.lastName" | translate}}</ion-label>
                        <ion-icon color="primary" name="person" item-left class="floating-label-icon"></ion-icon>
                        <ion-input type="text"
                                   [(ngModel)]="programManager.profile.name.family"
                                   [formControl]="formControl.familyName"></ion-input>
                    </ion-item>
                    <div padding></div>
                </ion-list>
            </form>

            <button ion-button icon-right block color="primary"
                    [disabled]="!formGroup.valid"
                    (click)="inviteProgramManager()">
                {{"page-add-program-manager-modal.buttons.sendInvitation" | translate}}
                <ion-icon name="paper-plane"></ion-icon>
            </button>
        </ion-card-content>
    </ion-card>
</ion-content>