<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"page-sales-reps.title" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="salesReps && salesReps.length > 0">
        <ion-card class="card-centered-limited-width"
                  *ngFor="let salesRep of salesReps">
            <ion-item detail-none text-wrap>
                <ion-avatar item-left>
                    <img src="{{salesRep.profile.picture}}" *ngIf="salesRep.profile.picture">
                    <div *ngIf="!salesRep.profile.picture">
                        <button ion-button icon-only round clear color="primary"
                                class="disable-hover no-user-image-icon">
                            <ion-icon name="contact"></ion-icon>
                        </button>
                    </div>
                </ion-avatar>
                <h2>{{salesRep.profile.name.display}}</h2>
                <p *ngIf="salesRep && salesRep.emails">{{salesRep.emails['0'].address}}</p>
                <button ion-button clear icon-only item-right
                        (click)="confirmDeactivateSalesRep(salesRep)">
                    <ion-icon name="remove-circle" color="danger"></ion-icon>
                </button>
            </ion-item>
        </ion-card>
    </div>
</ion-content>