<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"page-participant-details.title" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="participant">
        <ion-card class="card-centered-limited-width">
            <ion-list>
                <ion-list-header>
                    <ion-item text-wrap>
                        <ion-icon item-left>{{participant.rank}}</ion-icon>
                        <ion-avatar item-left class="avatar-large">
                            <img src="{{participant.profile.picture}}" *ngIf="participant.profile.picture">
                            <div *ngIf="!participant.profile.picture">
                                <button ion-button icon-only round clear color="primary"
                                        class="disable-hover no-user-image-icon">
                                    <ion-icon name="contact"></ion-icon>
                                </button>
                            </div>
                        </ion-avatar>
                        <h1>{{participant.profile.name.display}}</h1>
                    </ion-item>
                </ion-list-header>
                <ion-item text-wrap>
                    {{"page-program-sales.labels.points" | translate}}
                    <div item-right *ngIf="participant.totals">
                        {{participant.totals.points}}
                    </div>
                </ion-item>
                <ion-item text-wrap>
                    {{"page-program-sales.labels.contacts" | translate}}
                    <div item-right *ngIf="participant.totals">
                        {{participant.totals.contacts}} / {{participant.listContacts}}
                    </div>
                </ion-item>
                <ion-item text-wrap>
                    {{"page-program-sales.labels.commitments" | translate}}
                    <div item-right *ngIf="participant.totals">
                        {{participant.totals.commitments}}
                    </div>
                </ion-item>
                <div *ngIf="program.contract.product.price">
                    <ion-item text-wrap *ngIf="!program.contract.profitPercent">
                        {{"page-program-sales.labels.commitmentSales" | translate}}
                        <div item-right *ngIf="participant.totals">
                            {{participant.totals.commitmentSales | currency:'USD':'symbol-narrow'}}
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="program.contract.profitPercent">
                        {{"page-program-sales.labels.commitmentProfit" | translate}}
                        <div item-right *ngIf="participant.totals">
                            {{participant.totals.commitmentProfit | currency:'USD':'symbol-narrow'}}
                        </div>
                    </ion-item>
                </div>
                <ion-item text-wrap>
                    {{"page-program-sales.labels.purchases" | translate}}
                    <div item-right *ngIf="participant.totals">
                        {{participant.totals.purchases}}
                    </div>
                </ion-item>
                <ion-item text-wrap *ngIf="!program.contract.profitPercent">
                    {{"page-program-sales.labels.purchasedSales" | translate}}
                    <div item-right *ngIf="participant.totals">
                        {{participant.totals.purchasedSales | currency:'USD':'symbol-narrow'}}
                    </div>
                </ion-item>
                <ion-item text-wrap *ngIf="program.contract.profitPercent">
                    {{"page-program-sales.labels.purchasedProfit" | translate}}
                    <div item-right *ngIf="participant.totals">
                        {{participant.totals.purchasedProfit | currency:'USD':'symbol-narrow'}}
                    </div>
                </ion-item>

            </ion-list>
        </ion-card>

        <ion-card class="card-centered-limited-width"
                  *ngIf="achievements">
            <ion-card-header>
                <h1>{{"page-participant-details.headers.achievements" | translate}}</h1>
            </ion-card-header>
            <ion-list no-lines>
                <ion-item text-wrap *ngIf="achievements.registration">
                    {{"page-program-kickoff.eventPoints.registration" | translate}}
                    <div item-right>
                        {{achievements.registration}}
                    </div>
                </ion-item>
                <ion-item text-wrap *ngIf="achievements.contactListGoal">
                    {{"page-program-kickoff.eventPoints.contactListGoal" | translate}}
                    <div item-right>
                        {{achievements.contactListGoal}}
                    </div>
                </ion-item>
                <ion-item text-wrap *ngIf="achievements.contactGoal">
                    {{"page-program-kickoff.eventPoints.contactGoal" | translate}}
                    <div item-right>
                        {{achievements.contactGoal}}
                    </div>
                </ion-item>
                <ion-item text-wrap *ngIf="achievements.salesGoalAward">
                    {{"page-program-kickoff.eventPoints.salesGoalAward" | translate}}
                    <div item-right>
                        {{achievements.salesGoalAward}}
                    </div>
                </ion-item>
            </ion-list>
        </ion-card>

        <ion-card class="card-centered-limited-width">
            <ion-item>
                <h1>{{"page-participant-details.headers.filterContacts" | translate}}
                    <span *ngIf="filteredContacts">({{filteredContacts.length}})</span>
                </h1>
                <button ion-button outline large item-right icon-right
                        (click)="selectFilterOption()">
                    {{selectedFilter}}
                    <ion-icon name="ios-arrow-dropdown-outline"></ion-icon>
                </button>
            </ion-item>
        </ion-card>

        <div *ngIf="filteredContacts && filteredContacts.length > 0">
            <ion-grid>
                <ion-row wrap justify-content-center>
                    <div *ngFor="let contact of filteredContacts; let i = index;">
                        <ion-card class="card-row">
                            <ion-item text-wrap>
                                <ion-icon item-left>{{i + 1}}</ion-icon>
                                <h1>{{contact.name.display}}</h1>
                                <h2>{{contact.phone | phone}}</h2>
                                <p *ngIf="contact.contact && contact.contact.created">
                                    {{"page-participant-details.tableHeaders.date" | translate}}:&nbsp;
                                    {{contact.contact.created | date:'yyyy/MM/dd hh:mm a'}}
                                </p>
                            </ion-item>
                            <ion-card-content>
                                <ion-list>
                                    <ion-list-header *ngIf="contact.contact.status">
                                        <ion-row>
                                            {{"page-participant-details.tableHeaders.log" | translate}}
                                        </ion-row>
                                    </ion-list-header>
                                    <ul>
                                        <li *ngIf="contact.contact.called">
                                            {{"page-participant-details.logStatus.called" | translate}}
                                        </li>
                                        <li *ngIf="contact.contact.called && contact.contact.didAnswer">
                                            {{"page-participant-details.logStatus.answered" | translate}}
                                        </li>
                                        <li *ngIf="contact.contact.called && !contact.contact.didAnswer">
                                            {{"page-participant-details.logStatus.noAnswer" | translate}}
                                        </li>
                                        <li *ngIf="contact.contact.called && contact.contact.leftMessage">
                                            {{"page-participant-details.logStatus.leftMessage" | translate}}
                                        </li>
                                        <li *ngIf="contact.contact.sentSMS">
                                            {{"page-participant-details.logStatus.sentText" | translate}}
                                        </li>
                                        <li *ngIf="contact.contact.declinedCommitment">
                                            {{"page-participant-details.logStatus.declinedCommitment" | translate}}
                                        </li>
                                        <li *ngIf="contact.contact.receivedCommitment">
                                            {{"page-participant-details.logStatus.receivedCommitment" | translate}}
                                        </li>
                                        <li *ngIf="contact.contact.sentOrderConfirmation">
                                            {{"page-participant-details.logStatus.sentOrderConfirmation" | translate}}
                                        </li>
                                        <li *ngIf="contact.contact.isPaid && contact.contact.paidOnline">
                                            {{"page-participant-details.logStatus.paidOnline" | translate}}
                                        </li>
                                        <li *ngIf="contact.contact.isPaid && !contact.contact.paidOnline">
                                            {{"page-participant-details.logStatus.notPaidOnline" | translate}}
                                        </li>
                                    </ul>

                                    <ion-list-header *ngIf="contact.contact.commitment">
                                        {{"page-participant-details.tableHeaders.orders" | translate}}
                                    </ion-list-header>
                                    <ion-item text-wrap
                                              *ngIf="contact.contact.commitment">
                                        <ion-label>
                                            {{"page-participant-details.tableHeaders.commitments" | translate}}:
                                        </ion-label>
                                        <div item-right>
                                            {{contact.contact.commitment}}
                                        </div>
                                        <button ion-button clear icon-only item-right
                                                (click)="editOrderCommitments(contact)"
                                                *ngIf="!contact.contact.isPaid && contact.contact.commitment > 0">
                                            <ion-icon name="create"></ion-icon>
                                        </button>
                                    </ion-item>
                                    <ion-item text-wrap
                                              *ngIf="contact.contact.notes">
                                        <ion-label>
                                            <p>{{"page-order-commitment.labels.notes" | translate}}</p>
                                        </ion-label>
                                        <div item-right>{{contact.contact.notes}}</div>
                                    </ion-item>
                                    <div *ngIf="!contact.contact.isPaid &&
                                        contact.contact.receivedCommitment &&
                                        contact.contact.commitment > 0 &&
                                        program.contract.product.price">
                                        <button ion-button block outline color="primary"
                                                (click)="confirmMarkAsPaid(contact.contact)">
                                            {{"page-participant-details.buttons.markAsPaid" | translate}}
                                            <br>
                                            {{"page-participant-details.buttons.cashCheck" | translate}}
                                        </button>
                                    </div>
                                    <ion-item text-wrap
                                              *ngIf="contact.contact.purchased">
                                        <ion-label>
                                            {{"page-participant-details.tableHeaders.purchased" | translate}}:
                                        </ion-label>
                                        <div item-right>
                                            {{contact.contact.purchased}}
                                        </div>
                                    </ion-item>

                                    <ion-list-header>
                                        {{"page-participant-details.tableHeaders.points" | translate}}:
                                    </ion-list-header>
                                    <ion-item text-wrap
                                              class="event-point-list-item"
                                              *ngIf="contact.contact &&
                                          contact.contact.eventPoints &&
                                          contact.contact.eventPoints.call">
                                        {{"page-program-kickoff.eventPoints.call" | translate}}
                                        <div item-right>
                                            {{contact.contact.eventPoints.call}}
                                        </div>
                                    </ion-item>
                                    <ion-item text-wrap
                                              class="event-point-list-item"
                                              *ngIf="contact.contact &&
                                          contact.contact.eventPoints &&
                                          contact.contact.eventPoints.text">
                                        {{"page-program-kickoff.eventPoints.text" | translate}}
                                        <div item-right>
                                            {{contact.contact.eventPoints.text}}
                                        </div>
                                    </ion-item>
                                    <ion-item text-wrap
                                              class="event-point-list-item"
                                              *ngIf="contact.contact &&
                                          contact.contact.eventPoints &&
                                          contact.contact.eventPoints.commitment">
                                        {{"page-program-kickoff.eventPoints.commitment" | translate}}
                                        <div item-right>
                                            {{contact.contact.eventPoints.commitment}}
                                        </div>
                                    </ion-item>
                                    <ion-item text-wrap
                                              class="event-point-list-item"
                                              *ngIf="contact.contact &&
                                          contact.contact.eventPoints &&
                                          contact.contact.eventPoints.paid">
                                        {{"page-program-kickoff.eventPoints.paid" | translate}}
                                        <div item-right>
                                            {{contact.contact.eventPoints.paid}}
                                        </div>
                                    </ion-item>
                                    <ion-item text-wrap>
                                        <ion-label text-uppercase ion-text color="primary">
                                            {{"page-participant-details.tableHeaders.totalPoints" | translate}}
                                        </ion-label>
                                        <div item-right>
                                            <ion-label ion-text color="primary">
                                                <div *ngIf="!contact.contact || !contact.contact.totalPoints">
                                                    0
                                                </div>
                                                <div *ngIf="contact.contact && contact.contact.totalPoints">
                                                    {{contact.contact.totalPoints}}
                                                </div>
                                            </ion-label>
                                        </div>
                                    </ion-item>
                                </ion-list>
                            </ion-card-content>
                        </ion-card>
                    </div>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>