    <ion-card class="card-centered-limited-width">
        <ion-card-header text-wrap>
            <h1>{{"page-program-kickoff.headers.registrationDetails" | translate}}</h1>
        </ion-card-header>
        <ion-card-content>
            {{"page-program-kickoff.registrationMessage" | translate}}

            <form [formGroup]="formGroup">
                <ion-list>
                    <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                              [class.error]="!formControl.kickoffCode.valid && formControl.kickoffCode.touched">
                        <ion-label floating>{{"page-program-kickoff.labels.kickoffCode" | translate}}</ion-label>
                        <ion-icon color="primary" name="code" item-left class="floating-label-icon"></ion-icon>
                        <ion-input type="text"
                                   [(ngModel)]="program.kickoffCode"
                                   [formControl]="formControl.kickoffCode"></ion-input>
                    </ion-item>
                    <div *ngIf="formControl.kickoffCode.hasError('invalidKickoffCode')"
                         class="icon-error-box">
                        {{"page-program-kickoff.errors.kickoffCode" | translate}}
                    </div>

                    <ion-item></ion-item>
                </ion-list>
            </form>
        </ion-card-content>
    </ion-card>

    <ion-card class="card-centered-limited-width">
        <ion-card-header text-wrap>
            <h1>{{"page-program-kickoff.headers.kickoffEventDetails" | translate}}</h1>
        </ion-card-header>

        <ion-card-content>
            {{"page-program-kickoff.kickoffEventDetailsMessage" | translate}}
            <p padding-top padding-bottom>
                <ion-note>
                    {{"page-program-kickoff.productPoints" | translate}}
                </ion-note>
            </p>

            <ion-list>
                <button ion-item details-none
                        (click)="setContactMethodPoints(EVENT_POINTS.CALL)">
                    <ion-icon item-left name="call" color="primary"></ion-icon>
                    {{"page-program-kickoff.eventPoints.call" | translate}}
                    <ion-badge color="secondary" item-right>
                        {{program.eventPoints[EVENT_POINTS.CALL]}}
                    </ion-badge>
                </button>
                <button ion-item details-none
                        (click)="setContactMethodPoints(EVENT_POINTS.TEXT)">
                    <ion-icon item-left name="text" color="primary"></ion-icon>
                    {{"page-program-kickoff.eventPoints.text" | translate}}
                    <ion-badge color="secondary" item-right>
                        {{program.eventPoints[EVENT_POINTS.TEXT]}}
                    </ion-badge>
                </button>
                <button ion-item details-none
                        (click)="setContactMethodPoints(EVENT_POINTS.EMAIL)">
                    <ion-icon item-left name="mail" color="primary"></ion-icon>
                    {{"page-program-kickoff.eventPoints.email" | translate}}
                    <ion-badge color="secondary" item-right>
                        {{program.eventPoints[EVENT_POINTS.EMAIL]}}
                    </ion-badge>
                </button>
                <button ion-item details-none
                        (click)="setEventDuration()">
                    <ion-icon item-left name="timer" color="primary"></ion-icon>
                    {{"page-program-kickoff.labels.duration" | translate}}
                    <ion-badge color="secondary" item-right>
                        {{program.duration}}
                    </ion-badge>
                </button>
            </ion-list>
        </ion-card-content>
    </ion-card>