<ion-grid>
    <ion-row nowrap align-items-center>
        <ion-col>
            <button ion-button icon-only outline
                    [color]="color"
                    [disabled]="pagination.page === 1"
                    (click)="clickBeginning.next()">
                <ion-icon name="rewind"></ion-icon>
            </button>
        </ion-col>
        <ion-col>
            <button ion-button icon-only outline
                    [color]="color"
                    [disabled]="pagination.page === 1"
                    (click)="clickPrevious.next()">
                <ion-icon name="arrow-dropleft"></ion-icon>
            </button>
        </ion-col>
        <ion-col text-center ion-text [color]="color">
            <div>
                {{ currentPageItemsMin }}
                &nbsp;-&nbsp;
                {{ currentPageItemsMax }}
            </div>
            <div>&nbsp;&nbsp;of&nbsp;&nbsp;</div>
            <div>
                <strong>{{ maxItems }}</strong>
            </div>
        </ion-col>
        <ion-col text-right>
            <button ion-button icon-only outline
                    [color]="color"
                    [disabled]="pagination.page === pagination.pageCount"
                    (click)="clickNext.next()">
                <ion-icon name="arrow-dropright"></ion-icon>
            </button>
        </ion-col>
        <ion-col text-right>
            <button ion-button icon-only outline
                    [color]="color"
                    [disabled]="pagination.page === pagination.pageCount"
                    (click)="clickEnd.next()">
                <ion-icon name="fastforward"></ion-icon>
            </button>
        </ion-col>
    </ion-row>
</ion-grid>