<ion-header>
    <ion-navbar color="navbar">
        <ion-title>
            <ion-row nowrap align-items-center>
                <div *ngIf="program && program.imageUri">
                    <img src="{{program.imageUri}}"
                         height="44" width="44"
                         margin-right/>
                </div>
                <div>{{"page-leaderboard.title" | translate}}</div>
            </ion-row>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row wrap justify-content-center>
            <ion-col col-12 col-lg-7 col-xl-8>
                <ion-grid>
                    <ion-row wrap justify-content-center>
                        <ion-card class="card-row"
                                  *ngIf="program">
                            <ion-card-content>
                                <button ion-button color="secondary" large icon-left block margin-top
                                        (click)="startTimer()"
                                        *ngIf="!program.startTime">
                                    <ion-icon name="timer"></ion-icon>
                                    {{"page-leaderboard.buttons.startTimer" | translate}}
                                </button>
                                <div *ngIf="duration" padding style="position: relative;">
                                    <ion-item text-wrap>
                                        <ion-label text-wrap text-center>
                                            <div class="timer-text" text-center>
                                                {{duration.hours > 0 ? duration.hours + " : " : ""}}
                                                {{duration.minutes > 9 ? duration.minutes : "0" + duration.minutes}}&nbsp;:&nbsp;
                                                {{duration.seconds > 9 ?
                                                duration.seconds : "0" + duration.seconds}}
                                                <p ion-text
                                                   color="primary"
                                                   *ngIf="duration.hours === 0 && duration.minutes === 0 && duration.seconds === 0">
                                                    {{"page-leaderboard.eventComplete" | translate}}
                                                </p>
                                            </div>
                                        </ion-label>
                                        <div item-right>
                                            <div text-center>
                                                <button ion-button icon-only color="primary" large
                                                        (click)="toggleTimerPaused()">
                                                    <ion-icon [name]="isTimerPaused ? 'play' : 'pause'"></ion-icon>
                                                </button>
                                            </div>
                                            <div text-center>
                                                <button ion-button icon-only color="danger" large
                                                        (click)="clearStartTime()">
                                                    <ion-icon name="stopwatch"></ion-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </ion-item>
                                </div>
                            </ion-card-content>
                        </ion-card>

                        <ion-card class="card-row"
                                  *ngIf="program">
                            <ion-item text-wrap>
                                <ion-thumbnail item-left>
                                    <img src="{{program.imageUri}}" *ngIf="program.imageUri">
                                    <img src="{{appLogo}}" class="app-logo-thumbnail-img" *ngIf="!program.imageUri">
                                </ion-thumbnail>
                                <h1>{{program.name}}</h1>
                                <p *ngIf="program.contract">{{program.contract.startDate | date}}</p>
                            </ion-item>
                            <ion-list>
                                <ion-item text-wrap>
                                    <ion-label>
                                        <ion-row align-items-center>
                                            <div padding-right>
                                                {{"page-program-sales.labels.participants" | translate}}
                                            </div>
                                        </ion-row>
                                    </ion-label>
                                    <div item-right *ngIf="eventTotals">
                                        {{eventTotals.participants}}
                                    </div>
                                </ion-item>
                                <ion-item text-wrap>
                                    {{"page-program-sales.labels.contacts" | translate}}
                                    <div item-right *ngIf="eventTotals && participantsListContacts">
                                        {{eventTotals.contacts}}&nbsp;/&nbsp;{{participantsListContacts.length}}
                                    </div>
                                </ion-item>
                            </ion-list>
                        </ion-card>

                        <ion-card class="card-row"
                                  *ngIf="program">
                            <div></div>
                            <ion-card-header>
                                <h1>{{"page-program-sales.labels.commitments" | translate}}</h1>
                            </ion-card-header>
                            <ion-card-content>
                                <div *ngIf="program.salesGoalTotal">
                                    <div #commitmentProgressElement class="progress-element">
                                        <div class="progressbar-text-background">
                                            <img src="{{commitmentProgressInfo.imageUri}}">
                                        </div>
                                    </div>
                                    <h1 text-center [style.color]="commitmentProgressInfo.color">
                                        {{commitmentProgressInfo.percent}}%
                                    </h1>
                                </div>
                                <ion-list>
                                    <ion-item text-wrap *ngIf="!program.salesGoalTotal">
                                        {{"page-program-sales.labels.commitments" | translate}}
                                        <div item-right *ngIf="eventTotals">
                                            {{eventTotals.commitments}}
                                        </div>
                                    </ion-item>
                                    <div *ngIf="program.contract.product.price">
                                        <ion-item text-wrap *ngIf="!program.contract.profitPercent">
                                            {{"page-program-sales.labels.commitmentSales" | translate}}
                                            <div item-right *ngIf="eventTotals">
                                                {{eventTotals.commitmentSales | currency:'USD':'symbol-narrow'}}
                                            </div>
                                        </ion-item>
                                        <ion-item *ngIf="program.contract.profitPercent">
                                            {{"page-program-sales.labels.commitmentProfit" | translate}}
                                            <div item-right *ngIf="eventTotals">
                                                {{eventTotals.commitmentProfit | currency:'USD':'symbol-narrow'}}
                                            </div>
                                        </ion-item>
                                    </div>
                                </ion-list>
                            </ion-card-content>
                        </ion-card>
                        <ion-card class="card-row"
                                  *ngIf="program">
                            <div></div>
                            <ion-card-header>
                                <h1>{{"page-program-sales.labels.purchases" | translate}}</h1>
                            </ion-card-header>
                            <ion-card-content>
                                <div *ngIf="program.salesGoalTotal">
                                    <div #purchaseProgressElement class="progress-element">
                                        <div class="progressbar-text-background">
                                            <img src="{{purchaseProgressInfo.imageUri}}">
                                        </div>
                                    </div>
                                    <h1 text-center [style.color]="purchaseProgressInfo.color">
                                        {{purchaseProgressInfo.percent}}%
                                    </h1>
                                </div>
                                <ion-list>
                                    <ion-item text-wrap *ngIf="!program.salesGoalTotal">
                                        {{"page-program-sales.labels.purchases" | translate}}
                                        <div item-right *ngIf="eventTotals">
                                            {{eventTotals.purchases}}
                                        </div>
                                    </ion-item>
                                    <ion-item text-wrap *ngIf="!program.contract.profitPercent">
                                        {{"page-program-sales.labels.purchasedSales" | translate}}
                                        <div item-right *ngIf="eventTotals">
                                            {{eventTotals.purchasedSales | currency:'USD':'symbol-narrow'}}
                                        </div>
                                    </ion-item>
                                    <ion-item text-wrap *ngIf="program.contract.profitPercent">
                                        {{"page-program-sales.labels.purchasedProfit" | translate}}
                                        <div item-right *ngIf="eventTotals">
                                            {{eventTotals.purchasedProfit | currency:'USD':'symbol-narrow'}}
                                        </div>
                                    </ion-item>
                                </ion-list>
                            </ion-card-content>
                        </ion-card>
                    </ion-row>
                </ion-grid>
            </ion-col>
            <ion-col col-12 col-lg-5 col-xl-4>
                <div *ngIf="participantsData">
                    <div *ngIf="program.competitionType === COMPETITION_TYPE.INDIVIDUAL">
                        <div *ngFor="let participant of participantsData | slice:0:10; let i = index;">
                            <ion-card text-center

                                      color="{{getBackgroundColor(i)}}">
                                <ion-card-content>
                                    <ion-list no-lines background-color="white">
                                        <ion-item text-wrap>
                                            <ion-icon item-left>
                                                {{i + 1}}
                                            </ion-icon>
                                            <ion-avatar item-left class="avatar-large">
                                                <img src="{{participant.profile.picture}}"
                                                     *ngIf="participant.profile.picture">
                                                <div *ngIf="!participant.profile.picture">
                                                    <button ion-button icon-only round clear color="primary"
                                                            class="disable-hover no-user-image-icon">
                                                        <ion-icon name="contact"></ion-icon>
                                                    </button>
                                                </div>
                                            </ion-avatar>
                                            <ion-label text-center>
                                                <h1 ion-text color="dark">{{participant.profile.name.display}}</h1>
                                            </ion-label>
                                            <div item-right>
                                                <h1 ion-text color="dark">
                                                    <small>Pts:</small>
                                                    {{participant.totals.points}}
                                                </h1>
                                            </div>
                                        </ion-item>
                                    </ion-list>
                                </ion-card-content>
                            </ion-card>
                        </div>
                    </div>

                    <div *ngIf="program.competitionType === COMPETITION_TYPE.GROUP">
                        <div *ngFor="let group of programGroups | slice:0:10; let i = index;">
                            <ion-card text-center

                                      color="{{getBackgroundColor(i)}}">
                                <ion-card-content>
                                    <ion-list no-lines background-color="white">
                                        <ion-item text-wrap>
                                            <ion-icon item-left>
                                                {{i + 1}}
                                            </ion-icon>
                                            <ion-thumbnail item-left class="avatar-large">
                                                <img src="{{group.imageUri}}"
                                                     *ngIf="group.imageUri">
                                                <img src="{{appLogo}}"
                                                     *ngIf="!group.imageUri">
                                            </ion-thumbnail>
                                            <ion-label text-center>
                                                <h1 ion-text color="dark">{{group.name}}</h1>
                                            </ion-label>
                                            <div item-right>
                                                <h1 ion-text color="dark">
                                                    <small>Pts:</small>
                                                    {{group.totals.points}}
                                                </h1>
                                            </div>
                                        </ion-item>
                                    </ion-list>
                                </ion-card-content>
                            </ion-card>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>