<ion-header>
    <ion-navbar color="navbar">
        <ion-title>{{"page-save-as-modal.title" | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width">

        <div *ngIf="existingList && existingList.length > 0">
            <ion-card-header>
                <ion-item text-wrap no-padding>
                    <h1>
                        {{"page-save-as-modal.saveExisting" | translate}}
                    </h1>
                    <button ion-button outline item-right color="primary"
                            (click)="clearSelected()"
                            *ngIf="selectedItemId">
                        {{"page-save-as-modal.buttons.clear" | translate}}
                    </button>
                </ion-item>
            </ion-card-header>
            <ion-card-content>
                <ion-list margin-bottom
                          radio-group
                          [(ngModel)]="selectedItemId">
                    <div *ngFor="let item of existingList">
                        <ion-item text-wrap>
                            <ion-radio value="{{item._id}}" item-left></ion-radio>
                            <ion-label>{{item.name}}</ion-label>
                        </ion-item>
                    </div>
                </ion-list>
            </ion-card-content>
        </div>
        <div *ngIf="!selectedItemId">
            <ion-card-header>
                <h1>
                    {{"page-save-as-modal.saveNew" | translate}}
                </h1>
            </ion-card-header>
            <ion-card-content>
                <form [formGroup]="formGroup">
                    <ion-list margin-bottom>
                        <ion-item text-wrap
                                  [class.error]="!formControl.title.valid && formControl.title.touched">
                            <ion-label floating>{{"page-save-as-modal.labels.title" | translate}}</ion-label>
                            <ion-input type="text"
                                       [(ngModel)]="itemTitle"
                                       [formControl]="formControl.title"></ion-input>
                        </ion-item>
                        <div padding></div>
                    </ion-list>
                </form>
            </ion-card-content>
        </div>
        <ion-card-content>
            <button ion-button block icon-left color="secondary"
                    [disabled]="(!itemTitle && !selectedItemId)"
                    (click)="save()">
                <ion-icon>
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </ion-icon>
                {{"general.save" | translate}}
            </button>
        </ion-card-content>
    </ion-card>
</ion-content>