<ion-header>
    <ion-navbar color="navbar">
        <ion-title>{{"page-change-password.title" | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button
                    *ngIf="changePasswordForm.valid"
                    [disabled]="!changePasswordForm.valid" 
                    (click)="changePassword(changePasswordForm.value)">
                {{"general.submit" | translate}}
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width">
        <ion-card-content>
            <form [formGroup]="changePasswordForm">
                <ion-list>
                    <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                              [class.error]="!formControl.password.valid && formControl.password.touched">
                        <ion-label floating>{{"page-change-password.labels.currentPassword" | translate}}</ion-label>
                        <ion-icon color="primary" name="key" item-left class="floating-label-icon"></ion-icon>
                        <ion-input type="password" [formControl]="formControl.password"></ion-input>
                    </ion-item>
                    <div class="icon-error-box"
                         *ngIf="formControl.password.hasError('required') && formControl.password.touched">
                        {{"login-card.errors.passwordRequired" | translate}}
                    </div>
                    <div class="icon-error-box"
                         *ngIf="formControl.password.hasError('incorrectPassword')">
                        {{"login-card.errors.incorrectPassword" | translate}}
                    </div>
                    <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                              [class.error]="!formControl.newPassword.valid && formControl.newPassword.touched">
                        <ion-label floating>{{"page-change-password.labels.newPassword" | translate}}</ion-label>
                        <ion-icon color="primary" name="lock" item-left class="floating-label-icon"></ion-icon>
                        <ion-input type="password" [formControl]="formControl.newPassword"></ion-input>
                    </ion-item>
                    <div class="icon-error-box"
                         *ngIf="formControl.newPassword.hasError('required') && formControl.newPassword.touched">
                        {{"password-reset-card.errors.password" | translate}}
                    </div>

                    <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                              [class.error]="(!formControl.confirmPassword.valid ||
                          changePasswordForm.getError('mismatchedFields') === 'mismatchedPasswords') && formControl.confirmPassword.touched">
                        <ion-label floating>{{"create-account-card.labels.confirmPassword" | translate}}</ion-label>
                        <ion-icon color="primary" name="checkmark-circle-outline" item-left class="floating-label-icon"></ion-icon>
                        <ion-input type="password" [formControl]="formControl.confirmPassword"></ion-input>
                    </ion-item>
                    <div class="icon-error-box"
                         *ngIf="(formControl.confirmPassword.hasError('required')
                         || changePasswordForm.getError('mismatchedFields') === 'mismatchedPasswords')
                         && formControl.confirmPassword.touched">
                        {{"create-account-card.errors.passwordsMatch" | translate}}
                    </div>

                    <ion-item></ion-item>
                </ion-list>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>