ion-menu ion-content.content {
  background-color: white;
}

ion-card.card.card-centered-limited-width,
.card-centered-limited-width {
  margin: 16px auto;
  max-width: 500px;
}

ion-card.card.card-row,
.card-row {
  margin: 16px;
  max-width: 500px;
}

img.card-image {
  margin: 0 auto;
  padding: 20px;
  max-height: 250px;
  width: auto;
}

.clickable {
  cursor: pointer;
}

//ion-card.card.program-card {
//  max-width: 250px;
//  margin: 16px auto 16px;
//}
//
//.program-card-img-container {
//  min-height:250px;
//}

button.item.ion-item-button {
  margin: 10px 0;
  font-size: 2rem;
  text-transform: uppercase;
}

ion-icon i.fa {
  font-size: 21px;
}

.center-logo {
  margin: 16px auto;
  width: 200px;
}

.active-page-right-border {
  border-right: 2px solid $color-highlight;
}

ion-item.item ion-thumbnail img.app-logo-thumbnail-img {
  width: 99px;
  height: 106px;
}

.toolbar-ios.app-icon-toolbar {
  height: 150px;
}

ion-menu .toolbar-ios.app-icon-toolbar ion-title {
  margin-top: 38px;
}

.user-select {
  white-space: normal;
  user-select: text;
}

.alert-message {
  white-space: normal;
  user-select: text;
}

button[ion-button].inner-padding-left span.button-inner {
  padding-left: 16px;
}

button[ion-button].inner-padding-right span.button-inner {
  padding-right: 16px;
}